.watch {
    background-image: url(../img/bogoschool-background.jpg);
    background-position: center;
    background-size: cover;
    @include query(cp) {
        background-position: left;
    }


    .container {
        min-height: 100vh;
        display: grid;
        align-items: center;
        align-content: center;
        gap: 2rem;
    
    }
}
