@keyframes spin {
    from {
        transform: rotate(45deg) scale(1.2);
    }
    to{
        transform: rotate((405deg)) scale(1.2);
    }
}

@keyframes bounce {
    0%{
        transform: scale(1);
    } 
    
    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
    
}

@keyframes flicker {
    0%{
        transform: rotate(0);
    } 
    
    50%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(0);
    }
    

    
}

@keyframes flip {
    0%{
        transform: translateY(0px);
    } 
    
    50%{
        transform: translateY(-5px) rotateY(180deg);
    }

    100%{
        transform:translateY(0) rotateY(0);
    }
    

    
}